/*重置样式*/
body,div,p,ul,ol,dl,dt,dd,li,form,input,table,th,td,img,h1,h2,h3,h4,h5,h6 { margin: 0;padding: 0;}

body { background: #FFF; color: #000; font-size: 12px; font-style: normal; font-family:'Microsoft Yahei','微软雅黑','Simsun','宋体','Arial', sans-serif;}
address,caption,dfn,th,var,cite,code,i,em,s,label,input,select,textarea{font-style:normal;font-weight:normal;font-family:inherit;}
input[type="submit"],input[type="reset"],input[type="button"]{cursor:pointer;}
select,input,textarea{font-family:inherit;margin:0;}
li { list-style:none;}
img { border:none; background:none;}
a { text-decoration:none; color:#5c76d5;}
a:hover { text-decoration:underline; color:#f50;}
table { border-spacing:0; border-collapse:collapse;}


.clearfix:before,
.clearfix:after{display:table; content:"";}
.clearfix:after{clear:both}

.flt{float: left}
.frt{float: right}


/*布局开始*/
.header-bg{height: 50px; background: #000;}
.module{height: 165px; background: #fafafa;}
.footer{height: 160px; background: #ccc;}

.header{height: 20px; padding: 15px 0;}/*内边距上下15个像素*/

.logo a{display: inline-block; width: 46px; height: 17px; font-size: 0;}/*a标签中的字*/

.content{width: 1240px; margin: 0 auto;}/*居中*/

.logo{width: 50px; height: 17px; background: url("../images/index_0.png")}/*图片的长宽背景图*/

.nav li a{display: inline-block; margin-left: 35px; font-size: 14px; color: #fff;}/*A标签转换成块元素，距离左边35个元素，字体大小，字体颜色*/

.nav li{float: left;}/*左浮动*/

.nav li a:hover{color: #868686; text-decoration: none;}/*鼠标覆盖字体变色，去除下划线*/

.nav li.action a{color: #868686;}/*首个标签固定颜色*/


.module-list{min-height:600px}

.articles-list{width: 940px;}

.articles-list li{padding: 10px 0;  border-bottom: 1px dashed #ccc;}

.articles-list li > a,
.articles-list li > span{display: block;}

.articles-list li .article-title{font-size: 20px; line-height: 28px; color: #000; padding-bottom: 10px;}

.articles-list li .article-intro{font-size: 14px; line-height: 20px; color: #666;}

.article-info li{padding:10px 0;}

.article-info > a,
.article-info > small{display: inline-block; margin-right: 10px;}

.article-info a{padding: 2px 5px; border: 1px solid #09c; border-radius: 2px}

















